@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 30, 30);
}

.profile_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}   

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: red;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black;
}

.profile_card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#333;
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;

}

.text-data .company {
    font-size: 15px;
    font-weight: 400;
    
}

.profile_card .media_buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;

}
.media_buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: black;
    margin: 0 8px;
    text-decoration: none;
    

}